@using Kocluk.Dto;
@model UserSurnameUpdateDto
@{
    ViewData["Title"] = "Güncelle";
}

@if (TempData["UpdateFormSuccessMessage"] != null)
{
    <div class="row">
        <div class="col-4 offset-4 mt-3">
            <div class="alert alert-success">
                @TempData["UpdateFormSuccessMessage"]
            </div>
        </div>
    </div>
}

@if (TempData["UpdateFormErrorMessage"] != null)
{
    <div class="row">
        <div class="col-4 offset-4 mt-3">
            <div class="alert alert-danger">
                @TempData["UpdateFormErrorMessage"]
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-4 offset-4 mt-3">
        <form method="POST" asp-controller="User" asp-action="ProfileSurnameUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>


            <div class="form-group mb-3">
                <label asp-for="Surname" class="form-label">Soyad</label>
                <input asp-for="Surname" class="form-control" placeholder="Soyad" />
                <span asp-validation-for="Surname" class="text-danger small"></span>
            </div>

            <div class="form-group d-grid mb-3 mt-3">
                <button type="submit" class="btn btn-primary d-block">Güncelle</button>
            </div>
        </form>
    </div>
</div>