@using Kocluk.Dto;
@model VucutKitleIndeksiGuncelleDto
@{
    ViewData["Title"] = "Ilerme Durumu";
}

@if (TempData["IlerlemeDurumuHatali"] != null)
{
    <div class="row">
        <div class="col-4 offset-4 mt-3">
            <div class="alert alert-danger">
                @TempData["IlerlemeDurumuHatali"]
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-4 offset-4 mt-3">
        <h1>Vücut Kitle Indeksi Güncelle</h1>
        <form method="POST" asp-controller="User" asp-action="VucutKitleIndeksiGuncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger small">
            </div>

            <div class="form-group mb-3">
                <label asp-for="VucutKitleIndeksi" class="form-label">Vücut Kitle Indeksi Güncelle</label>
                <input asp-for="VucutKitleIndeksi" class="form-control" placeholder="Vücut Kitle Indeksi Güncelle" />
                <span asp-validation-for="VucutKitleIndeksi" class="text-danger small"></span>
            </div>

            <div class="form-group d-grid mb-3 mt-3">
                <button type="submit" class="btn btn-primary d-block">Güncelle</button>
            </div>
        </form>
    </div>
</div>